# Исключить папку MNIST
ml_3.0/hw01_classification/MNIST/
ml_3.0/hw01_classification/FashionMNIST/
ml_3.0/hw02_edge_detection/FashionMNIST/
ml_3.0/hw03_panorama/images
ml_3.0/hw04_overfitting/FashionMNIST
ml_3.0/hw06/part_a/data
ml_3.0/hw06/part_b/data

# Исполняемые файлы
*.exe
*.msi
*.bat

# Файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Временные файлы
*.tmp
*.bak
*.swp
*~

# Логи и дампы базы данных
*.log
*.sql
*.sqlite

# Файлы IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Файлы данных
*.pkl
*.pickle
*.h5
*.hdf5

# Файлы PyTorch/TensorFlow
*.pt
*.pth
*.onnx
*.tflite

# Системные файлы
.DS_Store
Thumbs.db